%h1 Listing articles

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.entry_at
        %td= article.title
        %td= article.context

%br

