.row
  .col-md-9
    - @articles.each do |article|
      %article
        %header
          %time
            %i.fa.fa-calendar-o= article.entry_at
            %h1= article.title
        %section= article.content

  .col-md-3
    %aside
      %section
        %h1 プロフィール
        %strong HN：しんくれあ
        %p 受託開発メインのIT企業に勤務するC#er。趣味は木工と読書です。
        %p これまでプライベートな日記がメインのブログでしたが、技術的な記事も書いていきたいと思います。
